<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To Do List</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!--Google Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700|Raleway' rel='stylesheet' type='text/css'>
  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container col-xs-12">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 inner-cont">
        <div class="text-center">
          <h1>To Do List</h1>
          <form id="new_todo_item">
            <div class="form-group">
              <input class="form-control" id="form-input-task" placeholder="What do you need to do?" autofocus>
              <input class="form-control" id="form-input-description" placeholder="Description" autofocus>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success" id="add-btn" value="Add to list!">
            </div>
          </form>
          <hr>
        </div>
        <ul id="task-list-ul">
          
        </ul>
        <form id="show-completed">
          <div class="form-group text-center">
              <input id="show-completed" type="submit" class="btn btn-success" value="Show Completed">
        </form>
      </div>
    </div>
  </div>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
  <script type="text/javascript" src="script.js"></script>

  <script type="text/template" id="underscore-template">
    <div id="task-list-template">
      <p>
        <%= name %> - <%= description %>
      </p>
    </div>
  </script>
</body>
</body>
</html>